<nav class="navbar" role="navigation" *ngIf="session" aria-label="main navigation" style="background-color: black;">  
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">  
          <div class="navbar-item ">
              <a class="button is-light"  routerLink="/crud">
                  <img src="assets/home.png" class="home" style=" margin: 3px;">
              </a>
          </div>
        </div>
          <div class="navbar-end" style="display: block;">
              <div class="navbar-item" >
                  <div style=" margin: 3px;">
                      <div class="tit">
                          Usuario iniciado:
                      </div>
                      <div class="cuadro">
                          {{this.userLog}}
                      </div>
                  </div>
                  <a class="button is-light"  (click)="closeSession()">
                      <img src="assets/apagar.png" class="cerrar" style=" margin: 3px;">
                      <strong>Cerrar sesión</strong>
                  </a>
              </div>
              
          </div>
      </div>
</nav>
<nav class="navbar" role="navigation" *ngIf="!session" aria-label="main navigation" style="background-color: black;">  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">  
        <div class="navbar-end">
            <div class="navbar-item" style="float: right;">
                <div class="buttons">
                    
                </div>
            </div>
        </div>
       </div>
    </div>
  </nav>

<router-outlet></router-outlet>
