header {
    text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	color: #f2f2f2; 
	background: #666 ; 
	font-size: 3em;
	line-height: 1.5em;
}
.cuadro{
	font-family: Helvetica, Arial, sans-serif;
	color: black;  
	font-size: 1em;
	line-height: 1.5em;
    background-color: whitesmoke;
    border-bottom: 2px solid lightgray;
    display: inline-block;
    padding: 5px;
}
.container{
    background-color: white; 
	text-align: center;
}
.supercontainer{
    background-color: white;  
	border: 2px solid lightgray;  
	padding: 20px;
}
.login{
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 3em;
}
.boton{
	width: 15%;
	color: white;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}