<div class="body" style="margin-left: auto; margin-right: auto; ">
  <div class="contenedor" style="width: 50%; height: 70%;">
    <form [formGroup]= "formularioLogIn" class="box">
        <div class="field">
          <label class="label" for="nombre">Nombre de usuario</label>

          <div class="control">
            <input formControlName="nombre" id="nombre" name="nombre" class="input" type="text" placeholder="Por ejemplo Alfonso" required >
            <p class ="error"[hidden]="!errorDisplayName">Se necesita nombre de usuario</p>
          </div>
          
        </div>
        <div class="field">
          <label class="label" for="password">Contraseña</label>
          <div class="control">
            <input class="input" onclick="setErrorName()" formControlName="password" id="password" name="password" type="password" placeholder="********">
            <p class="error" [hidden]="!errorDisplayPassword"> Se necesita contraseña</p>
          </div>
        </div>
        <button class="button is-primary" (click)="onSubmit()">
          Iniciar sesión
        </button>
      </form>
  </div>  

  <div *ngIf="muestraModal">
    <div id="modal-js-example" style="display: flex;" class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <p>El nombre de usuario y/o contraseña no son correctos</p>
          <button class="button is-danger" aria-label="close" (click)="displayModal()">Cerrar</button>
          </div>
          
      </div>
    </div> 
  </div>
</div>
 






 
 

