.header {
	background: black; 
	
}
.body{
	background-color: lightgray;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
}
.contenedor{
	padding: 5px;
	margin:auto;
	width: 40%; 
	height: 40%;
}
.cuadro{
	line-height: 1.5em;
    background-color: whitesmoke;
    padding: 5px;
}
.boton{
	padding: 5px;
	float: right;
}
.error{
	color:crimson;
}
.modal{
	display: none;
}
