

<body>
    <div class="supercontainer">
        <div  class="login" style="text-align: center;">
            Login
        </div>
        <div class ="container">
            <div class="cuadro">
                <label for="name">Nombre de usuario </label>
                <input type="text">
            </div>
        </div>
        <div class ="container">
            <div class="cuadro">
                <label for="name">Contraseña </label>
                <input type="text">
            </div>
        </div>
        <button class ="boton" type="button" style="align-items: center; justify-content: center; display:flex;">Log in</button>
</div>
</body>