<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: black;">  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">  
        <div class="navbar-end">
            <div class="navbar-item" style="float: right;">
                <div class="buttons" style="float: right;">
                    <a class="button is-primary" >
                        <strong>Añadir usuario</strong>
                    </a>
                    <a class="button is-light" routerLink="/">
                        <strong>Log out</strong>
                    </a>
                </div>
            </div>
        </div>
       </div>
    </div>
  </nav>
<p>crud works!</p>
