<div class="body">
    <div class="contenedor" style="margin-left: auto; margin-right: auto;" >
        <table class = 'table is-striped' style="margin: 5px;">
                <thead>
                    <tr>
                        <th><div title="id">ID</div></th>
                        <th><div title="name">Nombre de usuario</div></th>
                        <th><div title="firstName">Nombre</div></th>
                        <th><div title="lastName">Apellido</div></th>
                        <th><div title="age">Edad</div></th>
                        <th><div title="salary">Salario</div></th>
                        <th><div title="acciones" style="text-align: center;">Acciones</div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datos of this.data">
                            <th>{{datos.id}}</th>
                            <th>{{datos.firstName}}</th>
                            <th>{{datos.name}}</th>
                            <th>{{datos.lastName}}</th>
                            <th>{{datos.age}}</th>
                            <th>{{datos.salary}}</th>
                            <th>
                                <a class="button is-primary" style="margin: 5px;" (click)="deleteUser(datos.id)">
                                    <strong>Eliminar</strong>
                                </a>
                                <a class="button is-primary" style="margin: 5px;" (click)="updateUser(datos.id)">
                                    <strong>Modificar</strong>
                                </a>
                            </th>
                    </tr>
                        
                    
                </tbody>
        </table>
    </div>
    <a class="button is-primary" style="margin: 10px; " (click)="addUser()">
        <strong>Añadir Cliente</strong>
    </a>
</div>
