<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: black;">  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">  
        <div class="navbar-end">
            <div class="navbar-item" style="float: right;">
                <div class="buttons" style="float: right;">
                    <a class="button is-primary" routerLink="/CRUD/add" >
                        <strong>Añadir usuario</strong>
                    </a>
                    <a class="button is-light" routerLink="/">
                        <strong>Cerrar sesión</strong>
                    </a>
                </div>
            </div>
        </div>
       </div>
    </div>
  </nav>
  <table class = 'table is-striped'>
        <thead>
            <tr>
                <th><abbr title="id">ID</abbr></th>
                <th><abbr title="name">Nombre de usuario</abbr></th>
                <th><abbr title="firstName">Nombre</abbr></th>
                <th><abbr title="lastName">Apellido</abbr></th>
                <th><abbr title="age">Edad</abbr></th>
                <th><abbr title="salary">Salario</abbr></th>
            </tr>
        </thead>
        <tbody>
            <tr  class="is-selected" >
                <th>{{userJson.id}}</th>
                <td>{{userJson.name}}</td>
                <td>{{userJson.firstName}}</td>
                <td>{{userJson.lastName}}</td>
                <td>{{userJson.age}}</td>
                <td>{{userJson.salario}}</td>
              </tr>
        </tbody>
  </table>

